<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <div class="max-w-screen-md mx-auto text-2xl px-5">
        <div class="pt-14 sm:pt-32 mb-10">
            <h1 class="text-2xl sm:text-4xl font-bold">
                {{.Name}}, {{.JobTitle}}
            </h1>

            <p class="text-lg py-5">
                {{.Bio}}
            </p>

            <div class="flex gap-2 flex-wrap">
                {{range .Socials}}
                    <a class="custom-chip" href={{.Url}}>
                        {{.Name}}
                    </a>
                {{end}}
            </div>
        </div>

        <div class="my-2">
            <h1 class="flex mb-3 items-center gap-x-2 text-xl font-bold">
                Projects
                <i class="w-7" data-lucide="code-xml"></i>
            </h1>

            <div class="space-y-10">
                {{range .Projects}}
                    <div>
                        <h2 class="text-lg font-bold">{{.Name}}</h2>
                        <p class="text-base">
                            {{.Description}}
                        </p>
                        <div>
                            {{range .TechStack}}
                                <span class="custom-chip custom-chip-sm mr-2">{{.}}</span>
                            {{end}}
                        </div>
                        <div class="flex gap-4 my-5">
                            <a 
                                href=""
                                class="flex items-center gap-1 hover:underline"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <i class="w-7" data-lucide="github"></i>
                            </a>
                        </div>
                    </div>
                {{end}}     
            </div>
        </div>
    </div>
    <script type="module" src="/main.js"></script>
  </body>
</html>
